.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact p {
  max-width: 30ch;
  text-align: center;
  margin-top: 4rem;
  font-size: 1rem;
  color: var(--clr-primary);
}
.contact a {
  margin-top: 2rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 0.2rem 1.2rem 0.2rem 0.7rem;
  border-radius: 0.8rem;
  box-shadow: red 0px 0px 10px;
}
.contact svg {
  height: 1.25rem;
  fill: var(--clr-secondary);
}
.contact a p {
  margin-top: 0;
  font-size: 1.25rem;
  color: #000000;
  color: var(--clr-secondary);
  user-select: none;
}

@media (min-width: 475px) {
  .contact p {
    font-size: 1.3rem;
  }
}

@media (min-width: 640px) {
  .contact p {
    max-width: 80ch;
    font-size: 1.5rem;
  }
  .contact a{
    padding: 0.6rem 1.8rem 0.6rem 1.2rem;
    margin-top: 3rem;
  }
  .contact svg {
    height: 1.5rem;
  }
  .contact a p {
    font-size: 1.5rem;
  }
}

/* @media (min-width: 768px) {
    
  } */

@media (min-width: 1024px) {
     .contact p {
    font-size: 1.8rem;
  }
  .contact svg {
    height: 1.8rem;
  }
  .contact a p {
    font-size: 1.8rem;
  }
  }

  @media (min-width: 2560px) {
    .contact p {
      max-width: 30ch;
      margin-top: 20rem;
      font-size: 7rem;
    }
    .contact a {
      margin-top: 12rem;
      margin-bottom: 20rem;
      padding: 0.5rem 4rem 0.5rem 3.7rem;
    }
    .contact svg {
      height: 8rem;
      fill: var(--clr-secondary);
    }
    .contact a p {
      margin-top: 0;
      font-size: 5rem;
      color: #000000;
      color: var(--clr-secondary);
      user-select: none;
    }









  }