.hero {
    min-height: 100vh;
    /* min-height: 10vh; */
    display: flex;
    flex-direction: column;
    user-select: none;
  }
  .hero h1 {
    font-size: var(--size-6xl);
    padding-top: 3rem;
    color: var(--clr-dark);
  }
  .hero p {
    font-size: var(--size-2xl);
    padding-top: 0.8rem;
    color: var(--clr-secondary);
  }



  
  



@media (min-width: 475px) {
    .hero h1 {
        font-size: var(--size-7xl);
      }
      .hero p {
        font-size: var(--size-3xl);
      }
  }
  
  @media (min-width: 640px) {
    .hero h1 {
        font-size: var(--size-8xl);
      }
      .hero p {
        font-size: var(--size-4xl);
      }
  }
  
  @media (min-width: 768px) {
    
  }
  
  @media (min-width: 1024px) {
    .hero h1 {
        font-size: var(--size-9xl);
      }
      .hero p {
        padding-top: 2rem;
        font-size: var(--size-5xl);
      }
  }
  
  @media (min-width: 1280px) {
    
  }
  
  @media (min-width: 1536px) {
    .hero h1 {
        font-size: var(--size-10xl);
      }
  }


  @media (min-height: 400px) {
    .hero h1 {
      padding-top: 5rem;;
    }
  }
  @media (min-height: 500px) {
    .hero h1 {
      padding-top: 8rem;;
    }
  }