#portfolio{
  margin-bottom: 6rem;
}

#portfolio h2 {
  font-size: 2rem;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 4px 4px 10px var(--clr-dark);
  padding: 1rem;
  border-bottom-right-radius: 2rem;
}
.portfolio__card:hover {
  box-shadow: 10px 10px 20px var(--clr-dark);
}
.image-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__card img {
  border: black 2px solid;
}
.portfolio__card h3 {
  font-size: 1.25;
  margin-top: 1rem;
  color: var(--clr-secondary);
}
.portfolio__card p {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: justify;
  color: var(--clr-primary);
}

.portfolio__card button {
  margin-top: auto;
  align-self: flex-start;
  background-color: red;
  border: none;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 1rem;
}
.portfolio__card button a {
  padding: 1rem 1rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

@media (min-width: 1900px) {
  #portfolio h2 {
    font-size: 3rem;
    padding-top: 4rem;
    margin-bottom: 3rem;
  }
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
  }
  .portfolio__card h3 {
    margin-top: 1.5rem;
    font-size: 2.5rem;
  }
  .portfolio__card p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .portfolio__card button a {
    padding: 1rem 1rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 2560px) {
  #portfolio h2 {
    font-size: 6rem;
    padding-top: 6rem;
    margin-bottom: 6rem;
  }
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    gap: 4rem;
  }
  .portfolio__card h3 {
    margin-top: 2rem;
    font-size: 5rem;
  }
  .portfolio__card p {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .portfolio__card button a {
    padding: 1rem 1rem;
    font-size: 2.5rem;
  }
}
