* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
/* -------------- */
/* HERO SECTION   */
/* -------------- */

.hero {
  min-height: 110vh;
  /* min-height: 10vh; */
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.hero h1 {
  font-size: 25vw;
  padding-top: 15vh;
  color: #000000;
}
@media screen and (min-width: 1000px) {
  .hero h1 {
    font-size: 250px;
  }
}
@media screen and (max-height: 400px) {
  .hero h1 {
    padding-top: 1vh;
  }
}
.hero p {
  font-size: 9vw;
  padding-left: 0.8vw;
  color: #444444;
}
@media screen and (min-width: 1000px) {
  .hero p {
    font-size: 90px;
  }
}

/* -------------- */
/* CONTACT ME     */
/* -------------- */

.contact {
  background-color: #444444;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: black 0.5rem 0.5rem 1rem;
  border: transparent;
}
.contact svg {
  height: 5vw;
  fill: #444444;
}
.contact p {
  font-size: 5vw;
  color: #000000;
  padding-left: 1rem;
  font-weight: bold;
  color: #444444;
}
@media screen and (min-width: 800px) {
  .contact svg {
    height: 40px;
  }
  .contact p {
    font-size: 40px;
  }
}
